# Core functionality - changes here should be rare!
/src/app.py                   @abhineetsagar
/src/backend/database.py      @abhineetsagar
/src/backend/routers/auth.py  @abhineetsagar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @abhineetsagar
